@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alkatra&family=Chivo:wght@300&display=swap');


#ingredient-title{
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 35px;
}

#ingredients{
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    padding: 15px;
    max-width: 100%;
    max-height: 100%;
}
